
@font-face{
     font-family:"figtree";
     src:url(../assets/fonts/Figtree-VariableFont_wght.ttf)
   }
   
   

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
height: 100vh;
font-family:"figtree";
background-color:rgb(244, 208, 78) ;
}

main{
     background-color: white;
     box-shadow:10px 8px 0 black  ;
}
span{
    display: block;
    font-weight: 500;
    font-size: 14px;
    
    
}
.yellow-btn{
     background-color: rgb(244, 208, 78);
     padding:6px 12px;
     font-weight: 800;
     max-width: 82px ;
     border-radius: 4px;
}
h1{
     font-weight: 800;
     font-size: 24px;
}

p{
     font-weight: 300;
     color: rgb(107, 107, 107);
     align-self: stretch;
}
.profile-container span{
     font-weight: 800;
}
/******************************************
/* LAYOUT
/*******************************************/

body{
     display: grid;
     place-items: center;
     grid-template-rows: 94% 1fr;
}
main{
     max-width:384px ;
     width: 100%;
     padding:24px;
     border-radius:20px;
     
}   

.main-img{
     display: block;
     max-width: 336px;
     width: 100%;
     border-radius: 10px;
     margin-bottom: 24px;
}
span, h1{
margin-bottom: 12px;
line-height: 150%;
}

p{
     margin-bottom: 24px;
}
.profile-container{
     display: flex;
    justify-content: flex-start;
     align-items: center;
     gap:12px;
}
.profile-container img{
     flex-shrink: 0;
     max-width: 32px;

}
.profile-container span{
 
     margin-bottom: 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
